@model RBAProject.Models.User

@{ ViewData["Title"] = "Delete"; }

<h1>Sil</h1>

<h3>Silme işlemini yapmak istediğinize emin misiniz?</h3>
<div>
    <h4>Kullanıcı</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            TC Kimlik No :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nationalid)
        </dd>
        <dt class="col-sm-2">
            Adı :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class="col-sm-2">
            Soyadı :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthplace)
        </dt>
        <dd class="col-sm-10">
            Doğum Yeri :
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthyear)
        </dt>
        <dd class="col-sm-10">
            Doğum Yılı :
        </dd>
        <dt class="col-sm-2">
            Adres Id :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Id)
        </dd>
        <dt class="col-sm-2">
            Kredi Kartı Id :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Card.Id)
        </dd>
        <dt class="col-sm-2">
            İletişim Bilgisi Id:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
