@model RBAProject.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align:center">Araç Detay Bilgisi</h1>

<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive" style="overflow:hidden;">
                <table class="table">
                    <tr>
                        <th>Araç Markası</th>
                        <th>Araç Modeli</th>
                        <th>Araç Plakası</th>
                        <th>Araç Rengi</th>
                        <th>Günlük Fiyat</th>
                        <th>Araç Durumu</th>

                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.Brand.Brandname) </td>
                        <td>@Html.DisplayFor(model => model.Model.Modelname) </td>
                        <td>@Html.DisplayFor(model => model.Plate) </td>
                        <td>@Html.DisplayFor(model => model.Color.Colorname) </td>
                        <td>@Html.DisplayFor(model => model.Dailyprice) </td>
                        <td>@Html.DisplayFor(model => model.Status) </td>
                    </tr>


                </table>
                <div style="text-align:right">
                    <a asp-action="Edit" asp-route-id="@Model.Id">Güncelle</a> |
                    <a asp-action="Index">Listeye Geri Dön</a>
                </div>
            </div>
        </div>
    </div>
    </div>
