@model IEnumerable<RBAProject.Models.Car>

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
        </div>
        <div class="card-body">
            <div class="table-responsive" style="overflow:hidden;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                ARAÇ DURUMU
                                @*@Html.DisplayNameFor(model => model.Status)*@

                            </th>
                            <th>
                                PLAKA
                                @*@Html.DisplayNameFor(model => model.Plate)*@
                            </th>
                            <th>
                                GÜNLÜK FİYAT
                                @*@Html.DisplayNameFor(model => model.DailyPrice)*@
                            </th>
                            <th>
                                MARKA
                                @*@Html.DisplayNameFor(model => model.Brand)*@
                            </th>
                            <th>
                                MODEL
                                @*@Html.DisplayNameFor(model => model.Color)*@
                            </th>
                            <th>
                                RENK
                                @*@Html.DisplayNameFor(model => model.Model)*@
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var car in Model)
                        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => car.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Plate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Dailyprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Brand.Brandname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Color.Colorname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Model.Modelname)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@car.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@car.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@car.Id">Delete</a>
                </td>
            </tr>
}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/../assets/js/core/jquery.min.js"></script>
<script src="~/../assets/js/core/popper.min.js"></script>
<script src="~/../assets/js/core/bootstrap.min.js"></script>
<script src="~/../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="~/../assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="~/../assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="~/../assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="~/../assets/demo/demo.js"></script>
