@model RBAProject.Models.Deletedrentalhistory

@{ ViewData["Title"] = "Delete"; }

<h1>Sil</h1>

<h3>Silme işlemini yapmak istediğinize emin misiniz?</h3>
<div>
    <h4>Silinen Kiralama Geçmişi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Kiralama Tarihi :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rentdate)
        </dd>
        <dt class="col-sm-2">
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Returndate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Totalprice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Totalprice)
        </dd>
        <dt class="col-sm-2">
            Araç Durumu :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Status)
        </dd>
        <dt class="col-sm-2">
            Kullanıcı Id :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
